{
	order admin_panel before respond
}

http://localhost:3000 {
	admin_panel bcrypt "$2a$12$Wv9hQoMf3AIa5qEdwd/95uq0oyJacFTD03/cMKnBAQ0zm54ovS/9K" # caddy
}

http://localhost:3001 {
	admin_panel no_password
}
